<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="toolbar-title">App Orang Tua</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="mapContainer">
    <div id="mapId" style="height: 100%; width: 100%"></div>
    <ion-button (click)="focusOnLocation()" fill="clear" class="map-button">
      <ion-icon name="locate-sharp"></ion-icon>
    </ion-button>
  </div>
  <ion-button
    expand="block"
    (click)="getCurrentLocation()"
    class="location-button"
  >
    My Location
  </ion-button>
</ion-content>